@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url(css/themes.css);

html {
  height: 100%;
  width: 100%;
}

h4 {
  text-shadow: 0 0 30px var(--txtcolor);
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 5vw;
  line-height: 1.7;
  color: var(--txtcolor);
  background: var(--bgcolor);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 20px;
  margin: 20px 0;
}

.gameimg {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  margin: 15px;
  position: relative;
  float: left;
  margin-right: 10px;
  transition: 1s;
}

.gameimg:hover {
  cursor: pointer;
  transform: rotate(-10deg) scale(1.3);
  box-shadow: 0 0 1vw #181818;
}

.tab-bar {
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  /* Center vertically */
  background-color: var(--navbar);
  padding: 5px 0;
}

.tab-bar p {
  margin: 0 15px;
  font-weight: bold;
  color: #ffffff;
  font-size: 16px;
}

.tab {
  margin: 0 15px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 14px;
  width: 210px;
}

.tab:hover {
  color: var(--txtcolor);
}

.tab-content {
  display: none;
  text-align: center;
  margin-top: 50px;
}

.tab-content.active {
  display: block;
}

input {
  font-family: 'Montserrat', sans-serif;
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  text-align: center;
  transition-duration: 1s;
}

input[type="color"] {
  cursor: pointer;
  border-radius: 15px;
  width: 75px;
}

input[type="color"]:hover {
  transform: scale(1);
  background-color: transparent;
}

input:focus {
  width: 300px;
}

button {
  width: fit-content;
  height: 30px;
  border-radius: 5px;
  color: white;
  border-style: solid;
  margin-bottom: 5px;
  background: var(--txtcolor);
  cursor: pointer;
}

button:hover {
  background: var(--txtcolor);
  color: white;
}

.input2 {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  cursor: text;
  border-style: solid;
  margin-top: 10px;
  border: none;
  background: black;
  color: white;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
}

.imgbtn {
  width: 75px;
  height: 75px;
  border-radius: 10px;
}

.btn {
  border-radius: 10px;
  margin-top: 10px;
  background: transparent;
  color: white;
  text-align: center;
  width: 150px;
  height: 30px;
  border-style: solid;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s ease all;
}

* {
  padding: 0;
  margin: 0;
}

.container {}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.container:hover {
  animation: shake 1.0s;
  animation-iteration-count: infinite;
}

.footer {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: nowrap;
  bottom: 0;
  width: 100%;
}

.copyright {
  position: absolute;
  left: 5px;
}

a.credit {
  color: white;
}

a.small {
  background: white;
  font-size: 19px;
}

a.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--txtcolor);
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition-duration: 0.30s;
}

a.button:hover {
  width: px;
  padding: 15px;
  background-color: var(--txtcolor);
  border-radius: 5px;
}

.censorship-image {
  border-radius: 25px;
  padding: 20px;
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

.select-box {
  position: relative;
  width: 200px;
  cursor: pointer;
  font-size: 16px;
}

.selected-option {
  padding: 10px;
  background-color: #adad43;
  border: 1px solid #ccc;
  color: black;
}
a.ez {
  color: var(--txtcolor);
  width: 30px;
  height: px;
  transition: 1s;
}

a.ez:hover {
  width: 50px;
  padding: 15px;
  border: 5px solid black;
  transform: rotate(-15deg);
}